<%- include("./partials/header.ejs") %>

<h2>Submitted Answers</h2>

<h1>
  <%= Number.isInteger(percentage) ? percentage : percentage.toFixed(2) %>%
</h1>
<p>You got <%= score %> out of <%= total %> correct.</p>

<ul>
  <% question.forEach((q, i) => { 
       const userAnswer = answers[`q${i}`];
       const isCorrect = userAnswer === q.correct_answer;
  %>
    <li style="margin-bottom: 1em;">
      <strong>Q<%= i+1 %>: </strong> <%- q.question %> <br>

      <% if (isCorrect) { %>
        ✅ <span style="color: green;">Your Answer: <%= userAnswer %></span>
      <% } else { %>
        ❌ <span style="color: red;">Your Answer: <%= userAnswer %></span><br>
        ✅ <span style="color: green;">Correct Answer: <%= q.correct_answer %></span>
      <% } %>
    </li>
  <% }) %>
</ul>

<%- include("./partials/footer.ejs") %>
